body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #F6F6F6;
}

header {
    width: 93%;
    height: 70px;
    position: absolute;
    top: 0;
    margin: 37px 0 0 84px;
}

header img {
	border-radius: 10px;
	filter: grayscale(70%);
	float: left;
	width: 95px;
	height: auto;
	margin: 0 20px 0 0;	
}

.name{
	width: 75%;
}

header h1 {
	float: left;
	font-family: 'Sacramento', cursive;
	font-size: 80px;
	color: #41B4A3;
	margin: 0;	
}

#social{
	float: right;
	width: 25%;
	color: #41B4A3;
}

#social a{
	color: #41B4A3;
	font-size: 30px;
	margin: 15px;
}

main {
    width: 100%;
    min-height: calc(100vh - 212px);
    position: relative;
    margin-top: 139px;
}

.blocos{
    margin: 0 83px;
}

.bloco-quemsou{
	background-color: #fff;
    padding: 15px;
    margin-right: 15px;
    float: left;
    width: 250px;
    height: 270px;
    box-shadow: 2px 2px 7px #696969;

}

.bloco-quemsou h2{
	text-align: center;
	color: #696969;
}

.bloco-quemsou p, 
.bloco-quemsou span{
	font-size: 14px;
	color: grey;
}

footer{
	width: 100%;
  	position: absolute;
  	bottom: 0;
  	background: #41B4A3;
}

nav ul{
	display: inline-flex;
	list-style-type:none;
}

nav ul li{
    margin: 0px 100px;
    text-align: center;
}

nav ul li a{ 
 	text-decoration:none;
	color: #fff;
 	font-weight: bold;
}

nav ul li a h2{ 
 	font-size: 20px;
}

.icon {
	font-size: 30px;
}


#grafico-desenvolvimento-web{
	background-color: #696969;
	margin: 5px;
	height: 10px;
	width: 100px;
}

#grafico-ux-ui{
	background-color: #696969;
	margin: 5px;
	height: 10px;
	width: 100px;
}

#grafico-marketing-digital{
	background-color: #696969;
	margin: 5px;
	height: 10px;
	width: 100px;
}

#grafico-inbound-marketing{
	background-color: #696969;
	margin: 5px;
	height: 10px;
	width: 100px;
}

.blocos-servico{
	background-color: #fff;
	width: 300px;
	height: 150px;
	box-shadow: 2px 2px 7px #696969;
}

.blocos-servico h2{
	text-align: center;
    padding: 18px 0 0 0;
    color: #696969;
}

.blocos-servico p{
	font-size: 11px;
    margin: 0 20px;
    text-align: center;
    color: #696969;
}

.blocos-servico .bloco-superior{
	margin:0 auto;
}

.bloco-left {
	position: absolute;
	left: 51%;
	float: left;
	}

.bloco-right {
	position: absolute;
	right: 51%;
	float: right;
}

.form {
    float: left;
    padding: 40px;
    max-width: 600px;
    margin: -16px 45px;
    width: 40%;

}

 .form input, 
 .form textarea {
	 font-size:16px;
	 display:block;
	 width:100%;
	 height:100%;
	 padding:5px 10px;
	 margin: 6px 0;
	 border:1px solid gray;
	 background-color: #F6F6F6;
}


 .form button {
 	float: left;
	outline:none;
	height: 40px;
	width: 130px;
	text-align: center;
	border-radius:40px;
  	background-color: #F6F6F6;;
  	border: 1px solid gray;
  	color: #41B4A3;
  	font-size: 12px;
  	font-weight: bold;
}

.form button:hover {
    color:white;
    background: #41B4A3;
}

.info-contato{
	float: right;
	width: 45%;
}

.info-contato .email{
	margin-bottom: 45px;
    padding: 0 11px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    width: 70%;
}

.info-contato .fone{
	margin-bottom: 45px;
    padding: 0 11px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    width: 70%;
}

.info-contato .endereco{
	margin-bottom: 45px;
    padding: 0 11px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    width: 70%;
}